// Button styles
.btn {
  padding: 0.75rem;

  &--follow {
    border-color: #6c757d;
    color: #6c757d;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #6c757d;
      color: #fff;
    }

    &:focus {
      box-shadow: none;
    }
  }
}

.btn-outline-secondary {
  border-color: #6c757d;
  color: #6c757d;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #6c757d;
    color: #fff;
  }

  &:focus {
    box-shadow: none;
  }
}