<footer>
    <div class="bottom-nav container-fluid fixed-bottom py-2 border-top bg-white shadow-sm">
        <div class="container col-md-5 mx-auto d-flex justify-content-between text-center">
            <a class="btn btn-sm footer-btn" href="/home" role="button">
                <i class="bi bi-house-door fs-4"></i>
            </a>
            <a class="btn btn-sm footer-btn" href="/search" role="button">
                <i class="bi bi-search fs-4"></i>
            </a>
            <a class="btn btn-sm footer-btn" href="/createThread" role="button">
                <i class="bi bi-plus-lg fs-4"></i>
            </a>
            <a class="btn btn-sm footer-btn" href="/notifications" role="button">
               {{#if hasnoti}} 
                    <i class="bi bi-heart-fill text-primary fs-4"></i>
               {{else}}
                    <i class="bi bi-heart fs-4"></i>
               {{/if}}
            </a>
            <a class="btn btn-sm footer-btn" href="/profile" role="button">
                <i class="bi bi-person fs-4"></i>
            </a>
        </div>
    </div>
</footer>


