<div class="mb-3 notification-item 
    {{#if (eq type "FOLLOW")}}follow{{/if}} 
    {{#if (eq type "LIKE")}}like{{/if}} 
    {{#if (eq type "COMMENT")}}comment{{/if}}">
    <div class="d-flex flex-column">
        <div class="d-flex align-items-center">
    {{text}}
    </div>
   <p class="text-muted mt-1 mb-0">{{timeExpectation createdAt}}</p>
    </div>
</div>