<div class="mb-3 notification-item 
    {{#if (eq type "FOLLOW")}}follow{{/if}} 
    {{#if (eq type "LIKE")}}like{{/if}} 
    {{#if (eq type "COMMENT")}}comment{{/if}}">
    <div class="d-flex flex-column">
        <div class="d-flex align-items-center">
            <strong class="me-2">
                <a href="/{{sourceUserName}}" class="text-decoration-none text-dark">{{sourceUserName}}</a>
            </strong>
            <p class="mb-0">
                {{#if (eq type "FOLLOW")}}started following you{{/if}}
                {{#if (eq type "LIKE")}}liked your thread{{/if}}
                {{#if (eq type "COMMENT")}}commented on your thread{{/if}}
            </p>
        </div>
        <p class="text-muted mt-1 mb-0">{{timeExpectation createdAt}}</p>
    </div>
</div>
