<li
  class="list-group-item d-flex justify-content-between align-items-center shadow-sm rounded mb-2 p-3 hover-card"
>
  <div class="d-flex align-items-center">
    <img
      src="{{imagePath}}"
      alt="Avatar"
      class="avatar avatar--small avatar--round me-3"
    />
    <div>
      <strong>{{firstName}} {{lastName}}</strong><br />
      <small>{{userName}}</small>
    </div>
  </div>
  <div>
    <a
      href="#"
      class="btn btn-outline-secondary btn-sm me-2"
    >View</a>
    <button class="btn btn-outline-secondary btn-sm">Follow</button>
  </div>
</li>