{{>header}}
<main class="d-flex align-items-center justify-content-center auth-page-container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card shadow-lg border-0 rounded-4">
                    <div class="card-body p-4">
                        <h3 class="card-title text-center mb-4 font-weight-bold">Sign in to Threads</h3>
                        <form action="/login" method="POST">
                            <div class="mb-3">
                                <label for="username" class="form-label fs-6">Username or Email</label>
                                <input type="text" class="form-control" id="username" name="username" placeholder="Username or Email" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label fs-6">Password</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                            </div>
                            <div class="col-md-12">
                            <div class="custom-control custom-checkbox">
                                <input
                                    type="checkbox"
                                    class="custom-control-input"
                                    id="newaccount" name="keepSignedIn"
                                />
                                <label class="custom-control-label" for="newaccount">Keep me
                                    signed in</label>
                                </div>
                            </div>
                            <div class="d-grid mb-3 pt-3">
                                <button type="submit" class="btn btn-primary btn-lg">Login</button>
                            </div>  
                            {{#if loginMessage}}
                                <div class="col md-12">
                                    <div class="alert alert-warning alert--scrollable mt-3 w-100">
                                        {{{loginMessage}}}
                                    </div>
                                </div>
                            {{/if }}
                            {{#if registerMessage}}
                                <div class="col md-12">
                                    <div class="alert alert-warning alert--scrollable mt-3 w-100">
                                        {{{registerMessage}}}
                                    </div>
                                </div>
                            {{/if }}
                            <input type="hidden" name="reqUrl" value="{{reqUrl}}">
                        </form>
                        
                    </div>
                </div>
                <div class="d-grid mt-3">
                    <a href="/registerEmail" class="btn btn-outline-secondary btn-lg">Sign Up</a>
                </div>
                <div class="text-center mt-3">
                    <a href="/forgot" class="btn btn-link text-decoration-none mt-2">Forgot password?</a>
                </div>
            </div>
        </div>
    </div>
</main>
